/* Hide scrollbar for Chrome, Safari and Opera
::-webkit-scrollbar {
  display: none;
}

.first,
.second {
  display: inline-block;
}
.first {
  margin-left: 35px;
}
.center {
  position: relative;
  top: 18vh;
  margin-right: 2em;
}
.padding-form {
  margin-top: 1em;
  padding-top: 10px;
  margin-bottom: 10px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px 10px 20px 10px;
  background-color: rgb(255, 241, 239);
  background-image: url('../assets/marble.jpg');
}
.form-shadow {
  box-shadow: 3px 3px 5px 6px #ccc;
}
.padding-form * {
  margin-bottom: 11px;
}
@media screen and (min-width: 480px) {
  .padding-form {
    margin-left: 30px;
  }
}
@media screen and (min-width: 720px) {
  .padding-form {
    margin-left: 10px;
  }
}
/* label color */
/* .input-field label {
  color: var(--primary);
  font-weight: 400;
  font-size: 1.2 em;
}
/* label focus color */
/* .input-field input[type='text']:focus + label {
  color: var(--primary) !important;
} */
/* label underline focus color */
/* .input-field input[type='text']:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--text-primary) !important;
  box-shadow: 0 1px 0 0 var(--text-secondary) !important;
} */
/* .input-field input[type='email']:focus + label {
  color: var(--primary) !important;
} */
/* label underline focus color */
/* .input-field input[type='email']:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--primary) !important;
  box-shadow: 0 1px 0 0 var(--secondary) !important;
}
.input-field input[type='password']:focus + label {
  color: var(--primary) !important;
} */
/* label underline focus color */
/* .input-field input[type='password']:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--primary) !important;
  box-shadow: 0 1px 0 0 var(--secondary) !important;
}
.input-field input[type='number']:focus + label {
  color: var(--primary) !important;
} */
/* label underline focus color */
/* .input-field input[type='number']:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--primary) !important;
  box-shadow: 0 1px 0 0 var(--secondary) !important;
} */
/* valid color */
/* .input-field input[type='text'].valid {
  text-decoration: none !important;
  border-bottom: 1px solid var(--primary) !important;
  box-shadow: 0 1px 0 0 var(--secondary) !important;
} */
/* invalid color */
/* .input-field input[type='text'].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 #000;
} */
/* icon prefix focus color */
/* .input-field .prefix.active {
  color: #000;
}

.input-field textarea:focus + label {
  color: var(--primary) !important;
}
/* label underline focus color */
/* .input-field textarea:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--primary) !important;
  box-shadow: 0 1px 0 0 var(--secondary) !important;
}

#particles-js {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  #slide {
    position: absolute;
    right: -400px;
    width: 400px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 0.5s;
  }

  @-webkit-keyframes slide {
    100% {
      right: 220px;
    }
  }

  @keyframes slide {
    100% {
      right: 220px;
    }
  }
}
.btn:hover {
  background-color: var(--secondary);
}    */
