:root {
  --primary: #f4511e;
  --secondary: #ff7043;
}

.App {
  text-align: center;
}

.page {
  height: 100vh;
  width: 100%;
  /* position: fixed; */
  /*overflow: scroll;*/
}
.appoint {
  overflow: initial;
}
.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
.cleft {
  position: relative;
  left: 20px;
}
.pcolour {
  background-color: var(--primary) !important;
}
.scolour {
  background-color: var(--secondary) !important;
}
.stcolour {
  color: var(--secondary) !important;
}
.ptcolour {
  color: var(--primary) !important;
}
.hover:hover {
  background-color: var(--secondary) !important;
}
.pad li {
  margin-left: 5px;
}
.ratio {
  width: 100px;
  height: 180px;
}
.amount {
  color: var(--primary) !important;
  font-size: 30px !important  ;
  font-weight: 600 !important;
}
.click {
  cursor: pointer;
}
.activeD {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important ;
  transition: all 0.5s;
}

.margin .middle {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.margin h4,
h5,
button {
  margin: 15px;
}
.update-form {
  margin-top: 2.5em;
  padding-top: 10px;
  margin-bottom: 10px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px 10px 20px 10px;
  -moz-box-shadow: 0.5px 1.5px 2.5px 3px #ccc;
  -webkit-box-shadow: 0.5px 1.5px 2.5px 3px #ccc;
  box-shadow: 0.5px 1.5px 2.5px 3px #ccc;
}
.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  transform: scale(1.02);
  transition: all 1s;
}
.remove {
  transform: scaleX(1);
  transition: all 1s;
}
.padG {
  padding: 10px;
}
.innershadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.pos {
  position: relative;
  top: -20px;
  left: 70px;
  visibility: hidden;
  font-size: 2rem;
  z-index: 10000;
}
.editIcon:hover .pos {
  visibility: visible;
  transition: all 0.5s;
  transform: scale(1.5);
  z-index: 10000;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.reset-photo {
  height: 200px;
  width: 200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.forget-form {
  margin: 50px;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.hoverable:hover {
  transition: all 1s;
  transition-delay: 0.3s;
  transform: scale(1.01) !important;
}
.round {
  border-radius: 10px;
  overflow: hidden;
}
.top-margin {
  margin-top: 20px !important;
}
.font-app {
  font-size: 1.4em;
}
.glow {
  -webkit-animation: glow 5000ms infinite;
  animation: glow 5000ms infinite;
}
@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--secondary);
  }
  40% {
    box-shadow: 0 0 20px var(--secondary);
  }
  60% {
    box-shadow: 0 0 20px var(--secondary);
  }
  100% {
    box-shadow: 0 0 5px var(--secondary);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--secondary);
  }
  40% {
    box-shadow: 0 0 20px var(--secondary);
  }
  60% {
    box-shadow: 0 0 20px var(--secondary);
  }
  100% {
    box-shadow: 0 0 5px var(--secondary);
  }
}

.react-chatbot-kit-chat-container {
  width: 350px !important;
}
.react-chatbot-kit-chat-inner-container {
  border: 2px solid #efefef;
}
.react-chatbot-kit-chat-bot-message {
  background-color: var(--primary) !important;
  margin-left: 0 !important;
}
.react-chatbot-kit-chat-header {
  background-color: #666 !important;
  color: #fff !important;
}
.react-chatbot-kit-chat-btn-send {
  background-color: var(--secondary) !important;
}
.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid var(--primary) !important;
  left: -8.5px !important;
}
.react-chatbot-kit-chat-bot-avatar-container {
  background-color: var(--secondary) !important;
}
.react-chatbot-kit-chat-bot-avatar-letter {
  color: #fff !important;
}
.react-chatbot-kit-chat-input {
  margin: 10px !important;
  border: none !important;
}
.react-chatbot-kit-chat-input:focus {
  border-bottom: 1px solid var(--primary) !important;
  outline: none !important;
}
.react-chatbot-kit-user-chat-message {
  background-color: var(--primary) !important;
  color: #fff !important;
}
.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid var(--primary) !important;
  right: -8px !important;
}
.react-chatbot-kit-user-avatar-container {
  background-color: var(--secondary) !important;
}
