html {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--bgcolor);
}
:root {
  --primary: #f4511e;
  --secondary: #ff7043;
  --bgcolor: white;
  --bgsecondary: white;
  --text-primary: black;
  --text-secondary: #303030;
  --highlight: #f4511e;
  --marble: url('./assets/marble.jpg');
  --searchp: white;
}
.searchp {
  background-color: var(--searchp);
}
.pcolour {
  background-color: var(--primary) !important;
}
.scolour {
  background-color: var(--secondary) !important;
}
.text-primary {
  color: var(--text-primary) !important;
}
.text-secondary {
  color: var(--text-secondary) !important;
}
.bgcolor {
  background-color: var(--bgcolor) !important;
}
.bgsecondary {
  background-color: var(--bgsecondary) !important;
}
::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  color: var(--text-primary) !important;
}
h4 {
  color: var(--text-primary);
}

.page {
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  width: 100%;
  background-color: var(--bgcolor);
  /* position: fixed; */
  /*overflow: scroll;*/
}
.appoint {
  overflow: initial;
}
.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
.cleft {
  position: absolute;
  left: 20px;
}

.hover:hover {
  background-color: var(--secondary) !important;
}
.pad li {
  margin-left: 5px;
}
.ratio {
  width: 100px;
  height: 180px;
}
.amount {
  color: var(--highlight) !important;
  font-size: 30px !important  ;
  font-weight: 600 !important;
}
.click {
  cursor: pointer;
}
.activeD {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important ;
  transition: all 0.5s;
}

.margin .middle {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.margin h4,
h5,
button {
  margin: 15px;
}
.h4-style {
  margin-top: 0;
  padding-top: 20px;
}
.update-form {
  margin-top: 2.5em;
  padding-top: 10px;
  margin-bottom: 10px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px 10px 20px 10px;
  -moz-box-shadow: 0.5px 1.5px 2.5px 3px #ccc;
  -webkit-box-shadow: 0.5px 1.5px 2.5px 3px #ccc;
  box-shadow: 0.5px 1.5px 2.5px 3px #ccc;
}
.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  transform: scale(1.02);
  transition: all 1s;
}
.shadow-pagination {
  -moz-box-shadow: 1px 1px 2px 3px #ccc;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  box-shadow: 1px 1px 2px 3px #ccc;
  transform: scale(1.02);
  transition: all 1s;
}
.remove {
  transform: scaleX(1);
  transition: all 1s;
}
.padG {
  padding: 10px;
}
.innershadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.pos {
  position: relative;
  top: -20px;
  left: 70px;
  visibility: hidden;
  font-size: 2rem;
  z-index: 10000;
}
.editIcon:hover .pos {
  visibility: visible;
  transition: all 0.5s;
  transform: scale(1.5);
  z-index: 10000;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.reset-photo {
  height: 200px;
  width: 200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.forget-form {
  margin: 50px;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.hoverable:hover {
  transition: all 1s;
  transition-delay: 0.3s;
  transform: scale(1.01) !important;
}
.round {
  border-radius: 10px;
  overflow: hidden;
}
.top-margin {
  margin-top: 20px !important;
}
.font-app {
  font-size: 1.4em;
}
.glow {
  -webkit-animation: glow 5000ms infinite;
  animation: glow 5000ms infinite;
}
@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--text-secondary);
  }
  40% {
    box-shadow: 0 0 20px var(--text-secondary);
  }
  60% {
    box-shadow: 0 0 20px var(--text-secondary);
  }
  100% {
    box-shadow: 0 0 5px var(--text-secondary);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--text-secondary);
  }
  40% {
    box-shadow: 0 0 20px var(--text-secondary);
  }
  60% {
    box-shadow: 0 0 20px var(--text-secondary);
  }
  100% {
    box-shadow: 0 0 5px var(--text-secondary);
  }
}

.react-chatbot-kit-chat-container {
  width: 350px !important;
}
.react-chatbot-kit-chat-inner-container {
  border: 2px solid #efefef;
}
.react-chatbot-kit-chat-bot-message {
  background-color: var(--primary) !important;
  margin-left: 0 !important;
}
.react-chatbot-kit-chat-header {
  background-color: #666 !important;
  color: #fff !important;
}
.react-chatbot-kit-chat-btn-send {
  background-color: var(--secondary) !important;
}
.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid var(--primary) !important;
  left: -8.5px !important;
}
.react-chatbot-kit-chat-bot-avatar-container {
  background-color: var(--secondary) !important;
}
.react-chatbot-kit-chat-bot-avatar-letter {
  color: #fff !important;
}
.react-chatbot-kit-chat-input {
  margin: 10px !important;
  border: none !important;
}
.react-chatbot-kit-chat-input:focus {
  border-bottom: 1px solid var(--primary) !important;
  outline: none !important;
}
.react-chatbot-kit-user-chat-message {
  background-color: var(--primary) !important;
  color: #fff !important;
}
.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid var(--primary) !important;
  right: -8px !important;
}
.react-chatbot-kit-user-avatar-container {
  background-color: var(--secondary) !important;
}
.center {
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .left-marg {
    margin-left: 4.2% !important;
  }
}
.icon-size {
  width: 52px;
  vertical-align: center;
  cursor: pointer;
}
.shadow-patient-card {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

@media screen and (min-width: 600px) {
  .justify-text {
    text-align: left;
  }
}
@media screen and (max-width: 1920px) {
  .modal {
    width: 23% !important;
  }
}
@media screen and (max-width: 1366px) {
  .modal {
    width: 34% !important;
  }
}
@media screen and (max-width: 600px) {
  .modal {
    width: 94% !important;
  }
}
.spaceA * {
  margin: 5px;
  margin-left: 15px;
  font-weight: 400;
}

table th {
  font-size: 22px;
}
table td {
  font-size: 18px;
}
.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  top: 0.8rem !important;
  color: var(--text-primary) !important;
}
.pagination li a {
  background-color: white !important;
  color: var(--primary) !important;
  /* font-size: 2px !important; */
  cursor: pointer;
  border: 0px !important;
  outline: 0px !important;
  box-shadow: 0px !important;
  text-decoration: none !important;
}

@media screen and (min-width: 992px) {
  .pre-container {
    height: 88vh !important;
  }
}
#overlay-remove {
  z-index: -10000 !important;
}

.highlight {
  color: var(--highlight) !important;
}

.sideinside * {
  color: var(--text-secondary) !important;
}
/* UserRegistration.css*/

.first,
.second {
  display: inline-block;
}
.first {
  margin-left: 35px;
}
.center {
  position: relative;
  top: 18vh;
  margin-right: 2em;
}
.padding-form {
  margin-top: 1em;
  padding-top: 10px;
  margin-bottom: 10px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px 10px 20px 10px;
  background-color: rgb(255, 241, 239);
  background-image: var(--marble);
  background-repeat: no-repeat;
  background-size: cover;
}
.form-shadow {
  box-shadow: 3px 3px 5px 6px #ccc;
}
.padding-form * {
  margin-bottom: 11px;
}
@media screen and (min-width: 480px) {
  .padding-form {
    margin-left: 30px;
  }
}
@media screen and (min-width: 720px) {
  .padding-form {
    margin-left: 10px;
  }
}
/* label color */
.input-field label {
  color: var(--text-primary);
  font-weight: 400;
  font-size: 1.2 em;
}

.input-field input[type='text'] {
  color: var(--text-primary) !important;
}
.input-field input[type='number'] {
  color: var(--text-primary) !important;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  color: var(--text-primary) !important;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--text-primary) !important;
  box-shadow: 0 1px 0 0 var(--text-secondary) !important;
}
.input-field input[type='email']:focus + label {
  color: var(--text-primary) !important;
}
/* label underline focus color */
.input-field input[type='email']:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--text-primary) !important;
  box-shadow: 0 1px 0 0 var(--text-secondary) !important;
}
.input-field input[type='password']:focus + label {
  color: var(--text-primary) !important;
}
/* label underline focus color */
.input-field input[type='password']:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--text-primary) !important;
  box-shadow: 0 1px 0 0 var(--text-secondary) !important;
}
.input-field input[type='number']:focus + label {
  color: var(--text-primary) !important;
}
/* label underline focus color */
.input-field input[type='number']:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--text-primary) !important;
  box-shadow: 0 1px 0 0 var(--text-secondary) !important;
}
/* valid color */
.input-field input[type='text'].valid {
  text-decoration: none !important;
  border-bottom: 1px solid var(--text-primary) !important;
  box-shadow: 0 1px 0 0 var(--text-secondary) !important;
}
/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.input-field textarea:focus + label {
  color: var(--text-primary) !important;
}
/* label underline focus color */
.input-field textarea:focus {
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--text-primary) !important;
  box-shadow: 0 1px 0 0 var(--text-secondary) !important;
}

#particles-js {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0 !important;
}

@media screen and (min-width: 1200px) {
  #slide {
    position: absolute;
    right: -400px;
    width: 400px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 0.5s;
  }

  @-webkit-keyframes slide {
    100% {
      right: 10%;
    }
  }

  @keyframes slide {
    100% {
      right: 10%;
    }
  }
}
.btn:hover {
  background-color: var(--secondary);
}
.developer {
  -moz-box-shadow: 2px 2px 4px 5px #ccc;
  -webkit-box-shadow: 2px 2px 4px 5px #ccc;
  box-shadow: 2px 2px 4px 5px #ccc;
  transform: scale(1.02);
}
.developer:hover {
  -moz-box-shadow: 1px 1px 2px 3px #ccc;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  box-shadow: 1px 1px 2px 3px #ccc;
  transition: all 1s;
  transition-delay: 0.3s;
  transform: scale(1) !important;
}
@media screen and (max-width: 600px) {
  .orderimg {
    width: 75vw;
  }
}
.justify-align {
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 600px) {
  iframe {
    width: 90vw !important;
  }
}
.pbox {
  box-shadow: 0 8px 6px -6px var(--secondary) !important;
}

.disableda {
  pointer-events: none;
  cursor: default;
}
